git+https://github.com/huggingface/transformers
datasets
loralib
sentencepiece
bitsandbytes
accelerate
xformers
langchain
gradio
peft
chromadb
unstructured
sentence_transformers
pypdf
langchain-community==latest
